/* .first {
    font-size: 100px;
    background-color: rgb(184, 184, 184);
    border: 1px solid black;
    display: inline-block;
    margin: -2px;   
} */

/* Second Method */

.first {
    font-size: 100px;
    background-color: rgb(184, 184, 184);
    border: 1px solid black;
    display: inline-block;
}

.parent {
    font-size: 0px;
}