.main-div {
    display: grid;
    grid-gap: 10px;
}

h1 {
    text-align: center;
}

.inner-div {
    color: white;
    text-align: center;
    background-color: rgb(60, 94, 94);
    height: 80px;
    padding: 5px 0;
}